#Exclude Dev-Specific files and dirs
__pycache__
db.sqlite3

#Exclude python env
env

#Exclude env files
.env
.dev.env

#Exclude images
*.jpg
*.png

#Exclude model data from vcs
app/image_classifier/model/data
app/image_classifier/model/notebooks/.ipynb_checkpoints
